<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
  </div>
  <div class="footer-copyright">
    <div>
      Direct by Ortiz de Zarate & produced by Camila Stano
    </div>
    <div>
      Choose your playlist and enjoy your cocktail 
    </div>
  </div>
</div>