<div class="row footer d-flex justify-content-end" style="padding:0 50px">
  <%# <div class="col-2 footer-links d-flex justify-content-center">
    <a href="#"><i class="fab fa-instagram"></i></a>
  </div> %>
  <%# <div class="col-sm-5 col-lg-5"> %>
    <div class="footer-copyright">
      <div>
        Direct by Ortiz de Zarate
      </div>
      <div>
        Produced by Camila Stano
      </div>
      <div>
        Choose your playlist and enjoy your cocktail 
      </div>
    </div>
  <%# </div> %>
</div>