<%# <div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
  </div>
  <div class="footer-copyright">
    Play a music <i class="fas fa-play"></i> and enjoy your drink
  </div>
</div> %>