<nav class="navbar navbar-light bg-light p-3">
  <div class="container">
    <%# <img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt=""> %>
    <%= link_to "La Curvita", root_path, class: "navbar-logo"%>
    <%= link_to "Creat a COCKTAIL", new_cocktail_path %>
  </div>
</nav>
