<nav class="navbar navbar-light bg-light p-3">
  <div class="container">
    <%# <img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt=""> %>
    <div class="col-6">
      <div class="row ">
        <%= link_to "LA CURVITA", root_path%>
      </div>
      <div class="row ">
        <%= link_to "Cine and Cocktail", root_path, class: "" %>
      </div>
    </div>
    <%= link_to "Create a COCKTAIL", new_cocktail_path %>
  </div>
</nav>
