.btn-comment {
  text-decoration: none;
  opacity: .5;
  transition: opacity .5s ease-out;
  -moz-transition: opacity .5s ease-out;
  -webkit-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;
}

.btn-comment:hover {
  background-color: rgb(31, 31, 31);
  color: white;
  opacity: 1;
}

