.title {
  text-align: center;
  margin: 20px;
  font-weight: bold;
  text-decoration: underline;
}

.sub-title {
  text-align: left;
  margin: 8px;
  font-size: 25px;
}

.underline {
  text-decoration: underline;
}

.bg-black {
  background-color: black;
}
